<%- include('templates/header', {
title: 'Home',
loggedIn: loggedIn,
name: name
}) %>

<div class="container text-center">
    <h1 class="mt-5">Welcome to Assignment 2 for Comp2537</h1>
    <% if (loggedIn) { %>
        <a href="/members" class="btn btn-success mt-4">Go to Members Area</a>
    <% } else { %>
        <a href="/signup" class="btn btn-primary mt-4 me-2">Sign Up</a>
        <a href="/login" class="btn btn-secondary mt-4">Log In</a>
    <% } %>
</div>

<%- include('templates/footer') %>
